<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.android.musicalbreaks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_musical_breaks"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_musical_breaks"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlbumActivity"
            android:label="@string/category_albums"
            android:parentActivityName="com.example.android.musicalbreaks.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.musicalbreaks.MainActivity" />
        </activity>
        <activity
            android:name=".ArtistActivity"
            android:label="@string/category_artists"
            android:parentActivityName="com.example.android.musicalbreaks.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.musicalbreaks.MainActivity" />

        </activity>
        <activity
            android:name=".TrackActivity"
            android:label="@string/category_tracks"
            android:parentActivityName="com.example.android.musicalbreaks.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.musicalbreaks.MainActivity" />

        </activity>
        <activity
            android:name=".NowPlayingActivity"
            android:label="Now Playing"
            android:parentActivityName="com.example.android.musicalbreaks.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.musicalbreaks.MainActivity" />

        </activity>
    </application>

</manifest>